.container-fluid{
    background: #D38312;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.vini{
background-color: blue;
color:white;
}

img{
    height:70vh;
    object-fit:cover;
    padding: 1rem;
    border: 2px solid black;
    background: #D38312;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.vini1{
    text-align: center;
    margin-bottom: 3px

    
}
.vini2{
    text-align: center;
    margin-top: 10px;
}

.RG{
    margin-top:0px;
    padding: 0;
}

.overview{
    position: absolute;
    left:0;
    bottom: 0;
    opacity: 0;
    margin-bottom: 60px;
}
.Makeup:hover .overview{
    opacity: 1;
    background-color: #fff;
 transition: opacity 0.9s ease-in-out;
 border: 2px solid black;
 padding:1px
}
.vinbut{
    margin-left: 65px;
}






