.container-fluid{
    background-color: black;
    border: 2px solid black;
    text-align: center;
    
}
.Imagecard{
    text-align: center;
}
body{
    background-image: url('https://res.9appsinstall.com/group3/M01/9D/C4/4pMEAFqKguSADVUVAAB9oQCJdBQ850.jpg?x-oss-process=style/hq');
}
.container{
    margin-top: 10px;
    margin-left: 350px;
}
.card-text{
    object-fit: contain;
    overflow: scroll !important;
    width: 200px;
}
.vini{
    height: 200px;
    width: 150px;
    object-fit:conatin;
    border: 2px solid black;
}
.card{
    border: 2px solid black;
    background-color: #283c86;
    overflow: hidden;
    height: 380px;
    text-align: center;

}
.btn{
    background-color:black;
    border:2px solid black;
    color: white;
    
}

img{
    height: 400px;
}
